@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

}
* {
    font-family: Fira Sans, system-ui, -apple-system;
    font-size: 1rem;
    font-weight: normal;
}

.center-content{
    display: flex;
    align-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.align-center{
    align-items: center;
}
